/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/

html, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

table#insider input[type="text"] {
    box-sizing: border-box;
    width: 100%;
}

table#outsider input[type="text"] {
    box-sizing: border-box;
    width: 100%;
}

.actionNav {
    position: relative;
}

.actionNav ul li {
    list-style: none;
    text-align: left;
}

li.action div.btn ul {
    background-color: white;
    border: 1px solid #ccc;
    left: 77px;
    padding: 3px;
    position: absolute;
    top: 0;
    visibility: hidden;
}

li.action div.btn:hover > ul {
    visibility: visible;
    z-index: 1000;
}

#dropdown div.btn ul {
    background-color: white;
    border: 1px solid #ccc;
    left: 77px;
    padding: 3px;
    position: absolute;
    top: 0;
    visibility: hidden;
}

#dropdown div.btn:hover > ul {
    visibility: visible;
    z-index: 1000;
}

/*nav ul li label {
	padding: 8px 3px 4px 10px;
	text-decoration: none;
	color: #FFFFFF;

	-webkit-transition: background 0.3s ease-out 0s;
	-moz-transition: background 0.3s ease-out 0s;
	-o-transition: background 0.3s ease-out 0s;
	transition: background 0.3s ease-out 0s;
}


nav ul li ul{
	display: inline;
	padding:0px;
}*/

#header {
    background: #fcfcfc; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZjZmNmYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjU2JSIgc3RvcC1jb2xvcj0iI2ZjZmNmYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlMmUyZTIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #fcfcfc 0%, #fcfcfc 56%, #e2e2e2 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fcfcfc), color-stop(56%, #fcfcfc), color-stop(100%, #e2e2e2)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #fcfcfc 0%, #fcfcfc 56%, #e2e2e2 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #fcfcfc 0%, #fcfcfc 56%, #e2e2e2 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #fcfcfc 0%, #fcfcfc 56%, #e2e2e2 100%); /* IE10+ */
    background: linear-gradient(to bottom, #fcfcfc 0%, #fcfcfc 56%, #e2e2e2 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#e2e2e2', GradientType=0); /* IE6-8 */
    -webkit-box-shadow: 0px 3px 5px 0px rgba(180, 180, 180, 1);
    -moz-box-shadow: 0px 3px 5px 0px rgba(180, 180, 180, 1);
    box-shadow: 0px 3px 5px 0px rgba(180, 180, 180, 1);
    height: 50px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1000;
}

#header h1 {
    display: inline;
    font-size: 29px;
    line-height: 50px;
    margin: 0;
}

#header #logo {
    float: right;
    height: 50px;
    line-height: 45px;
}

#header li {
    border-right: 1px solid;
    display: inline;
    line-height: 30px;
    margin-right: 5px;
    padding: 0 8px 0 0;
}

.topbar {
    background-color: rgba(217, 237, 247, 0.7);
    height: 30px;
    line-height: 30px;
}

#content .topbar {
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

#content .topbar .container a {
    margin-top: 6px;
    position: relative;
    z-index: 1000;
}

#content .topbar .container a:hover {
    text-decoration: none;
}

#content {
    background-color: #fff;
    margin-top: -30px;
    padding: 50px 20px 20px;
    position: relative;
}

.container.shadow {
    -webkit-box-shadow: 0px 0px 3px 0px rgba(180, 180, 180, 1);
    -moz-box-shadow: 0px 0px 3px 0px rgba(180, 180, 180, 1);
    box-shadow: 0px 0px 3px 0px rgba(180, 180, 180, 1);
}

.only-on-js {
    display: none;
}

/******* table sorter ***********/
.sortingArrows {
    display: inline-block;
    height: 25px;
    vertical-align: bottom;
    width: 5px;
}

.sortingArrows a {
    display: block;
    cursor: pointer;
    height: 7px;
}

table tr td:last-child,
table tr th:last-child {
    text-align: center;
}

table tr td:last-child nav {
    margin: auto;
    width: 86px;
}

/************ paging **************/

.resultsPerPage {
    display: inline-block;
    vertical-align: middle;
}

.resultsPerPage .form-control {
    width: auto;
}

/****************** misc *****************/

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1,
.col-xs-2, .col-sm-2, .col-md-2, .col-lg-2,
.col-xs-3, .col-sm-3, .col-md-3, .col-lg-3,
.col-xs-4, .col-sm-4, .col-md-4, .col-lg-4,
.col-xs-5, .col-sm-5, .col-md-5, .col-lg-5,
.col-xs-6, .col-sm-6, .col-md-6, .col-lg-6,
.col-xs-7, .col-sm-7, .col-md-7, .col-lg-7,
.col-xs-8, .col-sm-8, .col-md-8, .col-lg-8,
.col-xs-9, .col-sm-9, .col-md-9, .col-lg-9,
.col-xs-10, .col-sm-10, .col-md-10, .col-lg-10,
.col-xs-11, .col-sm-11, .col-md-11, .col-lg-11,
.col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-bottom: 10px;
}

.textRight {
    text-align: right;
}

.marginBottom10 {
    margin-bottom: 10px;
}

#form-edit-group select {
    width: 100%;
}

.addedExtension {
    border-bottom: 1px solid rgb(238, 238, 238);
}

.addedExtension h3 {
    padding: 10px 0 20px 13px;
}

.addedExtension input[type="text"],
.addedExtension input[type="datetype"],
.addedExtension input[type="number"],
.addedExtension select {
    width: 100%;
}

.addedExtension div[class*="col-"] div[class*="col-"] {
    padding-left: 0;
}