<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title th:text="#{edit_user.title}">Create user</title>

	<th:block th:include="head :: includes"></th:block>

	<script type="text/javascript" src="../../js/bootbox.min.js" th:src="@{/js/bootbox.min.js}" ></script>
	<script type="text/javascript" src="../../js/bootstrap-datetimepicker.min.js" th:src="@{/js/bootstrap-datetimepicker.min.js}" ></script>
	<script type="text/javascript" src="../../js/custom-dialogs.js" th:src="@{/js/custom-dialogs.js}" ></script>
	<script type="text/javascript" src="../../js/multivalue.js" th:src="@{/js/multivalue.js}" ></script>
	<script type="text/javascript" src="../../js/extension.js" th:src="@{/js/extension.js}" ></script>

	<link rel="stylesheet" type="text/css" href="../../css/bootstrap-datetimepicker.min.css" th:href="@{/css/bootstrap-datetimepicker.min.css}"/>
</head>
<body>

<th:block th:include="header :: header"></th:block>

<div class="container shadow" id="content">
	<div th:replace="makros :: topbar">
		Topbar ...
	</div>

	<div id="dialog-message-container" style="display:none;">
		<input id="dialog-title" type="hidden" th:value="#{msg.user.dialog.title}" />
		<input id="dialog-success" type="hidden" th:value="#{msg.user.dialog.success}" />
		<input id="dialog-abort" type="hidden" th:value="#{msg.user.dialog.abort}" />
		<input id="dialog-update-message" type="hidden" th:value="#{msg.user.dialog.updateUser.message}" />
		<input id="dialog-cancelUpdate-message" type="hidden" th:value="#{msg.user.dialog.cancelUpdate.message}" />
	</div>

	<form method="POST" action=""  th:object="${model}" role="form">

			<h2 th:text="#{create_user.title}">Create user</h2>
			<div th:if="${(param.error != null) and (param.error[0] == 'validation')}"
				th:text="#{create_user.error.validation}" class="alert alert-danger">
				Validation Error
			</div>

			<!-- CSRF token -->
			<th:block th:replace="makros :: csrf" />

			<div class="row">
				<div class="col-md-9">

					<div class="row">
						<div class="col-md-6">
							<div >
								<label for="username" th:text="#{add_user.userName}">Username</label>
								<input class="form-control" type="text" id="username" th:field="*{userName}" />
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div >
								<label for="password" th:text="#{add_user.userPassword}">Password</label>
								<input class="form-control" type="password" id="password" th:field="*{password}" />
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12 text-right">
					<button class="btn btn-md btn-primary" type="submit" id="btnCreate" th:text="#{edit_user.update}">Create</button>
					<a th:href="@{list}">
						<button class="btn btn-md btn-primary" type="button" id="btnCancelChanges" th:text="#{edit_user.cancel}">Back</button>
					</a>
				</div>
			</div>

	</form>
</div>
</body>
</html>
