<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title th:text="#{edit_user.title}">Edit user</title>
    <script type="text/javascript" src="../../js/jquery-2.1.1.min.js" th:src="@{/js/jquery-2.1.1.min.js}" ></script>
    <script type="text/javascript" src="../../js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}" ></script>
    <script type="text/javascript" src="../../js/bootbox.min.js" th:src="@{/js/bootbox.min.js}" ></script>
    <script type="text/javascript" src="../../js/custom-dialogs.js" th:src="@{/js/custom-dialogs.js}" ></script>
	<script type="text/javascript" src="../../js/multivalue.js" th:src="@{/js/multivalue.js}" ></script>
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap.css" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" href="../../css/Style.css" th:href="@{/css/Style.css}"/>
</head>
<body>

<header id="header" class="">
  <div class="container">
          <h1>Administration</h1>
          <div id="logo">
              <img src="../../img/osiam_logo.png" alt="OSIAM Logo" width="150px" />
          </div>
  </div>
</header>

<div class="topbar"></div>

<div class="container shadow" id="content">
	<div class="topbar">
		<div class="container">
			<span class="pull-right">Logout <span class="glyphicon glyphicon-remove"></span></span>
		</div>		
	</div>

	<div id="dialog-message-container" style="display:none;">
		<input id="dialog-title" type="hidden" th:value="#{msg.user.dialog.title}" />
		<input id="dialog-success" type="hidden" th:value="#{msg.user.dialog.success}" />
		<input id="dialog-abort" type="hidden" th:value="#{msg.user.dialog.abort}" />
		<input id="dialog-updateUser-message" type="hidden" th:value="#{msg.user.dialog.updateUser.message}" />
		<input id="dialog-cancelUpdate-message" type="hidden" th:value="#{msg.user.dialog.cancelUpdate.message}" />
	</div>
	<div id="templates" style="display:none;">
		<div id="email-template">
			<div class="col-sm-4 form-group">
		        <label for="email-__ID__-display" th:text="#{edit_user.email.display}">Display</label>
		        <input class="form-control" type="text" id="email-__ID__-display" th:placeholder="#{edit_user.email.display}" name="emails[__ID__].display"/>
		    </div>
		    <div class="col-sm-4 form-group">
		        <label for="email-__ID__-value" th:text="#{edit_user.email.value}">Value</label>
		        <input class="form-control required" type="email" required="required" th:id="email-__ID__-value" th:placeholder="#{edit_user.email.value}" name="emails[__ID__].value" />
		    </div>
		    <div class="col-sm-4 form-group">
		        <label for="email-__ID__-primary" th:text="#{edit_user.email.primary}">Primary</label>
		        <input class="form-control" type="checkbox" th:id="email-__ID__-primary" name="emails[__ID__].primary" value="false" />
		    </div>
		    <div class="col-sm-4 form-group">
		        <label for="email-__ID__-type" th:text="#{edit_user.email.type}">Type</label>
		        <input class="form-control required" type="text" th:id="email-__ID__-type" th:placeholder="#{edit_user.email.type}" name="emails[__ID__].type" />
		        <input type="hidden" value="on" name="_emails[__ID__].primary" />
		    </div>
		</div>
		<div id="phoneNumber-template">
			<div class="col-sm-4 form-group">
		        <label for="phoneNumber-__ID__-display" th:text="#{edit_user.phoneNumber.display}">Display</label>
		        <input class="form-control" type="text" id="phoneNumber-__ID__-display" th:placeholder="#{edit_user.phoneNumber.display}" name="phoneNumbers[__ID__].display"/>
		    </div>
		    <div class="col-sm-4 form-group">
		        <label for="phoneNumber-__ID__-value" th:text="#{edit_user.phoneNumber.value}">Value</label>
		        <input class="form-control required" type="tel" required="required" th:id="phoneNumber-__ID__-value" th:placeholder="#{edit_user.phoneNumber.value}" name="phoneNumbers[__ID__].value" />
		    </div>
		    <div class="col-sm-4 form-group">
		        <label for="phoneNumber-__ID__-primary" th:text="#{edit_user.phoneNumber.primary}">Primary</label>
		        <input class="form-control" type="checkbox" th:id="phoneNumber-__ID__-primary" name="phoneNumbers[__ID__].primary" value="false" />
		    </div>
		    <div class="col-sm-4 form-group">
		        <label for="phoneNumber-__ID__-type" th:text="#{edit_user.phoneNumber.type}">Type</label>
		        <input class="form-control required" type="text" th:id="phoneNumber-__ID__-type" th:placeholder="#{edit_user.phoneNumber.type}" name="phoneNumbers[__ID__].type" />
		        <input type="hidden" value="on" name="_phoneNumbers[__ID__].primary" />
		    </div>
		</div>
		<div id="im-template">
			<div class="col-sm-4 form-group">
		        <label for="im-__ID__-display" th:text="#{edit_user.im.display}">Display</label>
		        <input class="form-control" type="text" id="im-__ID__-display" th:placeholder="#{edit_user.im.display}" name="ims[__ID__].display"/>
		    </div>
		    <div class="col-sm-4 form-group">
		        <label for="im-__ID__-value" th:text="#{edit_user.im.value}">Value</label>
		        <input class="form-control required" type="tel" required="required" th:id="im-__ID__-value" th:placeholder="#{edit_user.im.value}" name="ims[__ID__].value" />
		    </div>
		    <div class="col-sm-4 form-group">
		        <label for="im-__ID__-primary" th:text="#{edit_user.im.primary}">Primary</label>
		        <input class="form-control" type="checkbox" th:id="im-__ID__-primary" name="ims[__ID__].primary" value="false" />
		    </div>
		    <div class="col-sm-4 form-group">
		        <label for="im-__ID__-type" th:text="#{edit_user.im.type}">Type</label>
		        <input class="form-control required" type="text" th:id="im-__ID__-type" th:placeholder="#{edit_user.im.type}" name="ims[__ID__].type" />
		        <input type="hidden" value="on" name="_ims[__ID__].primary" />
		    </div>
		</div>
	</div>
	
    <form method="POST" action="" th:object="${model}">
        <div class="container">
            
			<h2 th:text="#{edit_user.title}">Edit user</h2>
            <div th:if="${(param.error != null) and (param.error[0] == 'validation')}"
                 th:text="#{edit_user.error.validation}" class="alert alert-danger">
                Validation Error
            </div>
            
            <fieldset>
                <!-- CSRF token -->
                <th:block th:replace="makros :: csrf" />

                    <div class="col-sm-4 form-group" >
                        <label for="created" th:text="#{edit_user.meta.created}">Created</label>
                        <input class="form-control" type="text" th:placeholder="#{edit_user.meta.created}" id="created" th:value="*{meta.created}" readonly="readonly"/>
                    </div>

                    <div class="col-sm-4 form-group" >
                        <label for="lastModified" th:text="#{edit_user.meta.lastModified}">Last modified</label>
                        <input class="form-control" type="text" th:placeholder="#{edit_user.meta.lastModified}" id="lastModified" th:value="*{meta.lastModified}" readonly="readonly"/>
                    </div>

                    <div class="col-sm-4 form-group" >
                        <label for="location" th:text="#{edit_user.meta.location}">Location</label>
                        <input class="form-control" type="text" th:placeholder="#{edit_user.meta.location}" id="location" th:value="*{meta.location}" readonly="readonly"/>
                    </div>

                    <div class="col-sm-4 form-group" >
                        <label for="resourceType" th:text="#{edit_user.meta.resourceType}">Resource type</label>
                        <input class="form-control" type="text" th:placeholder="#{edit_user.meta.resourceType}" id="resourceType" th:value="*{meta.resourceType}" readonly="readonly"/>
                    </div>

                    <div class="col-sm-4 form-group" >
                        <label for="version" th:text="#{edit_user.meta.version}">Version</label>
                        <input class="form-control" type="text" th:placeholder="#{edit_user.meta.version}" id="version" th:value="*{meta.version}" readonly="readonly"/>
                    </div>

                    <div class="col-sm-4 form-group" >
                        <label for="userID" th:text="#{edit_user.id}">Version</label>
                        <input class="form-control" type="text" th:placeholder="#{edit_user.id}" id="userID" th:value="*{id}" readonly="readonly"/>
                    </div>

                    <div class="col-sm-4 form-group" >
                        <label for="active" th:text="#{edit_user.active}">Is active</label>
                        <input type="checkbox" id="active" th:field="*{active}" />
                        <div th:if="${#fields.hasErrors('*{active}')}" th:errors="*{active}" class="text-danger">Active Flag Error</div>
                    </div>

                 <div class="col-sm-4 form-group" >
                    <label for="familyname" th:text="#{edit_user.name.familyname}">Familyname</label>
                    <input class="form-control" type="text" th:placeholder="#{edit_user.name.familyname}" id="familyname" th:field="*{name.familyname}" />
                    <span th:if="${#fields.hasErrors('*{name.familyname}')}" th:errors="*{name.familyname}" class="text-danger">Familyname Error</span>
                </div>

                <div class="col-sm-4 form-group" >
                    <label for="formatted" th:text="#{edit_user.name.formatted}">Formatted Name</label>
                    <input class="form-control" type="text" th:placeholder="#{edit_user.name.formatted}" id="formatted" th:field="*{name.formatted}" />
                </div>

                <div class="col-sm-4 form-group" >
                    <label for="givenname" th:text="#{edit_user.name.givenname}">Givenname</label>
                    <input class="form-control" type="text" th:placeholder="#{edit_user.name.givenname}" id="givenname" th:field="*{name.givenname}" />
                </div>

                <div class="col-sm-4 form-group" >
                    <label for="honorificprefix" th:text="#{edit_user.name.honorificprefix}">Honorific prefix</label>
                    <input class="form-control" type="text" th:placeholder="#{edit_user.name.honorificprefix}" id="honorificprefix" th:field="*{name.honorificprefix}" />
                </div>

                <div class="col-sm-4 form-group" >
                    <label for="honorificsuffix" th:text="#{edit_user.name.honorificsuffix}">Honorific suffix</label>
                    <input class="form-control" type="text" th:placeholder="#{edit_user.name.honorificsuffix}" id="honorificsuffix" th:field="*{name.honorificsuffix}" />
                </div>

                <div class="col-sm-4 form-group" >
                    <label for="middlename" th:text="#{edit_user.name.middlename}">Middelname</label>
                    <input class="form-control" type="text" th:placeholder="#{edit_user.name.middlename}" id="middlename" th:field="*{name.middlename}" />
                </div>

                <div class="col-sm-4 form-group" >
                    <label for="displayName" th:text="#{edit_user.displayName}">Displayname</label>
                    <input class="form-control" type="text" th:placeholder="#{edit_user.displayName}" id="displayName" th:field="*{displayName}" />
                </div>

                    <div class="col-sm-4 form-group" >
                        <label for="nickName" th:text="#{edit_user.nickName}">Nickname</label>
                        <input class="form-control" type="text" th:placeholder="#{edit_user.nickName}" id="nickName" th:field="*{nickName}" />
                        <span th:if="${#fields.hasErrors('*{nickName}')}" th:errors="*{nickName}" class="text-danger" >Nickname Error</span>
                    </div>

                    <div class="col-sm-4 form-group" >
                        <label for="userTitle" th:text="#{edit_user.userTitle}">Titel</label>
                        <input class="form-control" type="text" th:placeholder="#{edit_user.userTitle}" id="userTitle" th:field="*{title}" />
                        <span th:if="${#fields.hasErrors('*{title}')}" th:errors="*{title}" class="text-danger" >Title Error</span>
                    </div>

                <div class="col-sm-4 form-group" >
                    <label for="preferredLanguage" th:text="#{edit_user.preferredLanguage}">Preferred language</label>
                    <input class="form-control" type="text" th:placeholder="#{edit_user.preferredLanguage}" id="preferredLanguage" th:field="*{preferredLanguage}" />
                </div>

                    <div class="col-sm-4 form-group" >
                        <label for="preferredLanguage" th:text="#{edit_user.preferredLanguage}">Preferred language</label>
                        <input class="form-control" type="text" th:placeholder="#{edit_user.preferredLanguage}" id="preferredLanguage" th:field="*{preferredLanguage}" />
                        <span th:if="${#fields.hasErrors('*{preferredLanguage}')}" th:errors="*{preferredLanguage}" class="text-danger" >Preferred language Error</span>
                    </div>

                    <div class="col-sm-4 form-group" >
                        <label for="created" th:text="#{edit_user.meta.created}">Created</label>
                        <input class="form-control" type="text" th:placeholder="#{edit_user.meta.created}" id="created" th:field="*{meta.created}" readonly="readonly"/>
                    </div>

                    <div class="col-sm-4 form-group" >
                        <label for="lastModified" th:text="#{edit_user.meta.lastModified}">Last modified</label>
                        <input class="form-control" type="text" th:placeholder="#{edit_user.meta.lastModified}" id="lastModified" th:field="*{meta.lastModified}" readonly="readonly"/>
                    </div>

                    <div class="col-sm-4 form-group" >
                        <label for="location" th:text="#{edit_user.meta.location}">Location</label>
                        <input class="form-control" type="text" th:placeholder="#{edit_user.meta.location}" id="location" th:field="*{meta.location}" readonly="readonly"/>
                    </div>

                    <div class="col-sm-4 form-group" >
                        <label for="resourceType" th:text="#{edit_user.meta.resourceType}">Resource type</label>
                        <input class="form-control" type="text" th:placeholder="#{edit_user.meta.resourceType}" id="resourceType" th:field="*{meta.resourceType}" readonly="readonly"/>
                    </div>
                </fieldset>
            </div>
            <!--/* 
            	START EMAIL-BLOCK
            */-->
            <fieldset>
	            <div class="row" th:each="email, stat : *{emails}" th:id="${'email-block-' + stat.index}">
	                <div th:class="'col-sm-4 form-group' + (${#fields.hasErrors('*{emails[__${stat.index}__].display}')}? ' bg-danger' : '')">
	                    <label th:for="${'email-' + stat.index + '-display'}" th:text="#{edit_user.email.display}">Display</label>
	                    <input class="form-control" type="text" th:id="${'email-' + stat.index + '-display'}" th:placeholder="#{edit_user.email.display}" th:field="*{emails[__${stat.index}__].display}" />
						<span th:if="${#fields.hasErrors('*{emails[__${stat.index}__].display}')}" th:errors="*{emails[__${stat.index}__].display}" >Display Error</span>
	                </div>
	                <div th:class="'col-sm-4 form-group' + (${#fields.hasErrors('*{emails[__${stat.index}__].value}')}? ' bg-danger' : '')">
	                    <label th:for="${'email-' + stat.index + '-value'}" th:text="#{edit_user.email.value}">Value</label>
	                    <input class="form-control required" type="email" required="required" th:id="${'email-' + stat.index + '-value'}" th:placeholder="#{edit_user.email.value}" th:field="*{emails[__${stat.index}__].value}" />
						<span th:if="${#fields.hasErrors('*{emails[__${stat.index}__].value}')}" th:errors="*{emails[__${stat.index}__].value}" >Value Error</span>
	                </div>
	                <div th:class="'col-sm-4 form-group' + (${#fields.hasErrors('*{emails[__${stat.index}__].primary}')}? ' bg-danger' : '')">
	                    <label th:for="${'email-' + stat.index + '-primary'}" th:text="#{edit_user.email.primary}">Primary</label>
	                    <input class="form-control" type="checkbox" th:id="${'email-' + stat.index + '-primary'}" th:field="*{emails[__${stat.index}__].primary}" />
						<span th:if="${#fields.hasErrors('*{emails[__${stat.index}__].primary}')}" th:errors="*{emails[__${stat.index}__].primary}" >Primary Error</span>
	                </div>
	                <div th:class="'col-sm-4 form-group' + (${#fields.hasErrors('*{emails[__${stat.index}__].type}')}? ' bg-danger' : '')">
	                    <label th:for="${'email-' + stat.index + '-type'}" th:text="#{edit_user.email.type}">Type</label>
	                    <input class="form-control required" type="text" th:id="${'email-' + stat.index + '-type'}" th:placeholder="#{edit_user.email.type}" th:field="*{emails[__${stat.index}__].type}" />
						<span th:if="${#fields.hasErrors('*{emails[__${stat.index}__].type}')}" th:errors="*{emails[__${stat.index}__].type}" >Type Error</span>
	                </div>
	            </div>
	            <button id="button-add-email" class="btn btn-md btn-primary" type="button" th:text="#{edit_user.add.email}">Add Email</button>
            </fieldset>
            <!--/* 
            	END EMAIL-BLOCK
            */-->
             <!--/* 
            	START PHONE-NUMBER-BLOCK
            */-->
            <fieldset>
	            <div class="row" th:each="phoneNumber, stat : *{phoneNumbers}" th:id="${'phoneNumber-block-' + stat.index}">
	                <div th:class="'col-sm-4 form-group' + (${#fields.hasErrors('*{phoneNumbers[__${stat.index}__].display}')}? ' bg-danger' : '')">
	                    <label th:for="${'phoneNumber-' + stat.index + '-display'}" th:text="#{edit_user.phoneNumber.display}">Display</label>
	                    <input class="form-control" type="text" th:id="${'phoneNumber-' + stat.index + '-display'}" th:placeholder="#{edit_user.phoneNumber.display}" th:field="*{phoneNumbers[__${stat.index}__].display}" />
						<span th:if="${#fields.hasErrors('*{phoneNumbers[__${stat.index}__].display}')}" th:errors="*{phoneNumbers[__${stat.index}__].display}" >Display Error</span>
	                </div>
	                <div th:class="'col-sm-4 form-group' + (${#fields.hasErrors('*{phoneNumbers[__${stat.index}__].value}')}? ' bg-danger' : '')">
	                    <label th:for="${'phoneNumber-' + stat.index + '-value'}" th:text="#{edit_user.phoneNumber.value}">Value</label>
	                    <input class="form-control required" type="tel" required="required" th:id="${'phoneNumber-' + stat.index + '-value'}" th:placeholder="#{edit_user.phoneNumber.value}" th:field="*{phoneNumbers[__${stat.index}__].value}" />
						<span th:if="${#fields.hasErrors('*{phoneNumbers[__${stat.index}__].value}')}" th:errors="*{phoneNumbers[__${stat.index}__].value}" >Value Error</span>
	                </div>
	                <div th:class="'col-sm-4 form-group' + (${#fields.hasErrors('*{phoneNumbers[__${stat.index}__].primary}')}? ' bg-danger' : '')">
	                    <label th:for="${'phoneNumber-' + stat.index + '-primary'}" th:text="#{edit_user.phoneNumber.primary}">Primary</label>
	                    <input class="form-control" type="checkbox" th:id="${'phoneNumber-' + stat.index + '-primary'}" th:field="*{phoneNumbers[__${stat.index}__].primary}" />
						<span th:if="${#fields.hasErrors('*{phoneNumbers[__${stat.index}__].primary}')}" th:errors="*{phoneNumbers[__${stat.index}__].primary}" >Primary Error</span>
	                </div>
	                <div th:class="'col-sm-4 form-group' + (${#fields.hasErrors('*{phoneNumbers[__${stat.index}__].type}')}? ' bg-danger' : '')">
	                    <label th:for="${'phoneNumber-' + stat.index + '-type'}" th:text="#{edit_user.phoneNumber.type}">Type</label>
	                    <input class="form-control required" type="text" th:id="${'phoneNumber-' + stat.index + '-type'}" th:placeholder="#{edit_user.phoneNumber.type}" th:field="*{phoneNumbers[__${stat.index}__].type}" />
						<span th:if="${#fields.hasErrors('*{phoneNumbers[__${stat.index}__].type}')}" th:errors="*{phoneNumbers[__${stat.index}__].type}" >Type Error</span>
	                </div>
	            </div>
	            <button id="button-add-phoneNumber" class="btn btn-md btn-primary" type="button" th:text="#{edit_user.add.phoneNumber}">Add phoneNumber</button>
            </fieldset>
            <!--/* 
            	END PHONE-NUMBER-BLOCK
            */-->
            <!--/* 
            	START IM-BLOCK
            */-->
            <fieldset>
	            <div class="row" th:each="im, stat : *{ims}" th:id="${'im-block-' + stat.index}">
	                <div th:class="'col-sm-4 form-group' + (${#fields.hasErrors('*{ims[__${stat.index}__].display}')}? ' bg-danger' : '')">
	                    <label th:for="${'im-' + stat.index + '-display'}" th:text="#{edit_user.im.display}">Display</label>
	                    <input class="form-control" type="text" th:id="${'im-' + stat.index + '-display'}" th:placeholder="#{edit_user.im.display}" th:field="*{ims[__${stat.index}__].display}" />
						<span th:if="${#fields.hasErrors('*{ims[__${stat.index}__].display}')}" th:errors="*{ims[__${stat.index}__].display}" >Display Error</span>
	                </div>
	                <div th:class="'col-sm-4 form-group' + (${#fields.hasErrors('*{ims[__${stat.index}__].value}')}? ' bg-danger' : '')">
	                    <label th:for="${'im-' + stat.index + '-value'}" th:text="#{edit_user.im.value}">Value</label>
	                    <input class="form-control required" type="tel" required="required" th:id="${'im-' + stat.index + '-value'}" th:placeholder="#{edit_user.im.value}" th:field="*{ims[__${stat.index}__].value}" />
						<span th:if="${#fields.hasErrors('*{ims[__${stat.index}__].value}')}" th:errors="*{ims[__${stat.index}__].value}" >Value Error</span>
	                </div>
	                <div th:class="'col-sm-4 form-group' + (${#fields.hasErrors('*{ims[__${stat.index}__].primary}')}? ' bg-danger' : '')">
	                    <label th:for="${'im-' + stat.index + '-primary'}" th:text="#{edit_user.im.primary}">Primary</label>
	                    <input class="form-control" type="checkbox" th:id="${'im-' + stat.index + '-primary'}" th:field="*{ims[__${stat.index}__].primary}" />
						<span th:if="${#fields.hasErrors('*{ims[__${stat.index}__].primary}')}" th:errors="*{ims[__${stat.index}__].primary}" >Primary Error</span>
	                </div>
	                <div th:class="'col-sm-4 form-group' + (${#fields.hasErrors('*{ims[__${stat.index}__].type}')}? ' bg-danger' : '')">
	                    <label th:for="${'im-' + stat.index + '-type'}" th:text="#{edit_user.im.type}">Type</label>
	                    <input class="form-control required" type="text" th:id="${'im-' + stat.index + '-type'}" th:placeholder="#{edit_user.im.type}" th:field="*{ims[__${stat.index}__].type}" />
						<span th:if="${#fields.hasErrors('*{ims[__${stat.index}__].type}')}" th:errors="*{ims[__${stat.index}__].type}" >Type Error</span>
	                </div>
	            </div>
	            <button id="button-add-im" class="btn btn-md btn-primary" type="button" th:text="#{edit_user.add.im}">Add im</button>
            </fieldset>
            <!--/* 
            	END IM-BLOCK
            */-->
            <div class="row">
            <div class="col-sm-2 col-sm-offset-10 text-right">
                    <button class="btn btn-sm btn-info" type="submit" id="btnSaveChanges" th:text="#{edit_user.update}">Save</button>
                    <a th:href="@{list}">
                        <button class="btn btn-sm btn-info" type="button" id="btnCancelChanges" th:text="#{edit_user.cancel}">Back</button>
                    </a>
                </div>
            </div>
		</div>
    </form>
</div>
</body>
</html>