<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:include="head :: includes"></th:block>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title th:text="#{edit_group_membership.title}">Edit group membership</title>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#filter-display-name-assigned").keyup(function (e) {
                if (e.which == 13) {
                    e.preventDefault();
                    $('#filter-button-assigned').trigger('click');
                }
            });

            $("#filter-display-name-available").keyup(function (e) {
                if (e.which == 13) {
                    e.preventDefault();
                    $('#filter-button-available').trigger('click');
                }
            });
        });
    </script>
</head>
<body>

<th:block th:include="header :: header"></th:block>

<div class="container shadow" id="content">
    <div th:replace="makros :: topbar">
        Topbar ...
    </div>

    <div class="row">
        <div class="col-md-6 marginBottom10">
            <h3 th:text="#{edit_group_members.title.special(${user.userName})}">Username</h3>
        </div>
    </div>

    <div class="alert alert-success"
         th:if="${(param.groupMembershipAdd != null) and (param.groupMembershipAdd[0] == 'true')}"
         th:text="#{edit_user_membership.membershipAddSuccess}">
        Successfully added
    </div>
    <div class="alert alert-success"
         th:if="${(param.groupMembershipRemove != null) and (param.groupMembershipRemove[0] == 'true')}"
         th:text="#{edit_user_membership.membershipRemoveSuccess}">
        Successfully removed
    </div>

    <div class="row">
        <div class="col-md-6 form-group">
            <h4 style="margin-bottom:5px" th:text="#{edit_group_membership.group.user}">My groups</h4>

            <form id="filter-form-assigned" action="" method="POST">
                <!--/* ALL forms with PATCH, POST, PUT, and DELETE methods must include a CSRF-Token! */-->
                <th:block th:replace="makros :: csrf"/>
                <input type="hidden" name="panel" value="remove"/>

                <table class="table table-hover table-striped table-bordered table-condensed">
                    <thead>
                    <tr>
                        <th>
                            <input id="group-checkbox-assigned" type="checkbox" class="checkbox master-checkbox"/>
                        </th>
                        <th>
                                <span th:if="${assignedOrderBy eq 'displayName' and not assignedOrderDirection}">
                                    <a id="order-by-my-displayname-asc"
                                       th:href="@{'' (id=${param.id}, action='assignedSort', assignedOrderBy='displayName', assignedAsc=true)}">
                                        <span class="glyphicon glyphicon-sort-by-alphabet"></span>
                                        <span th:text="#{edit_group_membership.group.displayName}">DisplayName</span>
                                    </a>
                                </span>
                                <span th:unless="${assignedOrderBy eq 'displayName' and not assignedOrderDirection}">
                                    <a id="order-by-my-displayname-desc"
                                       th:href="@{'' (id=${param.id}, action='assignedSort', assignedOrderBy='displayName', assignedAsc=false)}">
                                        <span class="glyphicon glyphicon-sort-by-alphabet-alt"></span>
                                        <span th:text="#{edit_group_membership.group.displayName}">DisplayName</span>
                                    </a>
                                </span>
                        </th>
                        <th></th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr th:object="${pagingInformationAssignedGroups.filterFields}">
                        <!--/* All osiam-query relevant fields must begin with "query."!  */-->
                        <td></td>
                        <td class="input-group-sm">
                            <input id="filter-display-name-assigned" class="form-control" name="query.displayName" type="text"
                                   th:value="*{get('query.displayName')}"/>
                        </td>
                        <td>
                            <button id="filter-button-assigned" class="btn btn-default btn-sm" name="action" value="filter"
                                    type="submit">
                                <span class="glyphicon glyphicon-filter"></span>
                                <span th:text="#{msg.button.filter}">Filter</span>
                            </button>
                        </td>
                    </tr>
                    <tr th:each="group : ${assignedGroups.resources}">
                        <td>
                            <input type="checkbox" class="checkbox" name="groupId" th:value="${group.id}"/>
                        </td>
                        <td th:text="${group.displayName}">Group #1</td>
                        <td>
                            <a th:href="@{'' (id=${param.id}, panel=remove, groupId=${group.id})}"
                               class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-minus"></span>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5">
                            <input type="submit" class="btn btn-md btn-primary"
                                   th:value="#{edit_group_membership.button.remove}"/>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>
            <span th:replace="makros :: pagingInfo(${assignedGroups})">Result x - y from Total</span>

            <div th:replace="makros :: pagingControlls(${pagingAssignedGroups}, 2, '')">
                Paging-Navigation...
            </div>
            <form name="form-assigned-limit" th:action="@{'' (id=${param.id})}" method="POST" class="resultsPerPage">
                <!--/* ALL forms with PATCH, POST, PUT, and DELETE methods must include a CSRF-Token! */-->
                <th:block th:replace="makros :: csrf"/>
                <input type="hidden" name="action" value="assignedLimit"/>

                <select id="paging-limit-assigned" name="assignedLimit" class="form-control"
                        onchange="document['form-assigned-limit'].submit();">
                    <option th:selected="${pagingInformationAssignedGroups.limit} == 5">5</option>
                    <option th:selected="${pagingInformationAssignedGroups.limit} == 10">10</option>
                    <option th:selected="${pagingInformationAssignedGroups.limit} == 20">20</option>
                    <option th:selected="${pagingInformationAssignedGroups.limit} == 50">50</option>
                    <option th:selected="${pagingInformationAssignedGroups.limit} == 100">100</option>
                    <option th:selected="${pagingInformationAssignedGroups.limit} == 0" th:text="#{msg.list.limit.all}"
                            value="0">All
                    </option>
                </select>
            </form>
            <span th:text="#{msg.list.limit}"></span>
        </div>
        <div class="col-md-6 form-group">
            <h4 style="margin-bottom:5px" th:text="#{edit_group_membership.group.other}">Other groups</h4>

            <form id="filter-form-available" action="" method="POST">
                <!--/* ALL forms with PATCH, POST, PUT, and DELETE methods must include a CSRF-Token! */-->
                <th:block th:replace="makros :: csrf"/>
                <input type="hidden" name="panel" value="add"/>

                <table class="table table-hover table-striped table-bordered table-condensed">
                    <thead>
                    <tr>
                        <th>
                            <input id="group-checkbox" type="checkbox" class="checkbox master-checkbox"/>
                        </th>
                        <th>
                                <span th:if="${unassignedOrderBy eq 'displayName' and not unassignedOrderDirection}">
                                    <a id="order-by-other-displayname-asc"
                                       th:href="@{'' (id=${param.id}, action='unassignedSort', unassignedOrderBy='displayName', unassignedAsc=true)}">
                                        <span class="glyphicon glyphicon-sort-by-alphabet"></span>
                                        <span th:text="#{edit_group_membership.group.displayName}">DisplayName</span>
                                    </a>
                                </span>
                                <span th:unless="${unassignedOrderBy eq 'displayName' and not unassignedOrderDirection}">
                                    <a id="order-by-other-displayname-desc"
                                       th:href="@{'' (id=${param.id}, action='unassignedSort', unassignedOrderBy='displayName', unassignedAsc=false)}">
                                        <span class="glyphicon glyphicon-sort-by-alphabet-alt"></span>
                                        <span th:text="#{edit_group_membership.group.displayName}">DisplayName</span>
                                    </a>
                                </span>
                        </th>
                        <th></th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr th:object="${pagingInformationUnassignedGroups.filterFields}">
                        <!--/* All osiam-query relevant fields must begin with "query."!  */-->
                        <td></td>
                        <td class="input-group-sm"><input id="filter-display-name-available" class="form-control"
                                                          name="query.displayName" type="text"
                                                          th:value="*{get('query.displayName')}"/></td>
                        <td>
                            <button id="filter-button-available" class="btn btn-default btn-sm" name="action" value="filter"
                                    type="submit">
                                <span class="glyphicon glyphicon-filter"></span>
                                <span th:text="#{msg.button.filter}">Filter</span>
                            </button>
                        </td>
                    </tr>
                    <tr th:each="group : ${unassignedGroups.resources}">
                        <td>
                            <input type="checkbox" class="checkbox" name="groupId" th:value="${group.id}"/>
                        </td>
                        <td th:text="${group.displayName}">Group #1</td>
                        <td>
                            <a th:href="@{'' (id=${param.id}, panel=add, groupId=${group.id})}"
                               class="btn btn-success btn-sm">
                                <span class="glyphicon glyphicon-plus"></span>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5">
                            <input type="submit" class="btn btn-md btn-primary"
                                   th:value="#{edit_group_membership.button.add}"/>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>
            <span th:replace="makros :: pagingInfo(${unassignedGroups})">Result x - y from Total</span>

            <div th:replace="makros :: pagingControlls(${pagingUnassignedGroups}, 2, '')">
                Paging-Navigation...
            </div>
            <form name="form-unassigned-limit" th:action="@{'' (id=${param.id})}" method="POST" class="resultsPerPage">
                <!--/* ALL forms with PATCH, POST, PUT, and DELETE methods must include a CSRF-Token! */-->
                <th:block th:replace="makros :: csrf"/>
                <input type="hidden" name="action" value="unassignedLimit"/>

                <select id="paging-limit" name="unassignedLimit" class="form-control"
                        onchange="document['form-unassigned-limit'].submit();">
                    <option th:selected="${pagingInformationUnassignedGroups.limit} == 5">5</option>
                    <option th:selected="${pagingInformationUnassignedGroups.limit} == 10">10</option>
                    <option th:selected="${pagingInformationUnassignedGroups.limit} == 20">20</option>
                    <option th:selected="${pagingInformationUnassignedGroups.limit} == 50">50</option>
                    <option th:selected="${pagingInformationUnassignedGroups.limit} == 100">100</option>
                    <option th:selected="${pagingInformationUnassignedGroups.limit} == 0"
                            th:text="#{msg.list.limit.all}" value="0">All
                    </option>
                </select>
            </form>
            <span th:text="#{msg.list.limit}"></span>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 text-right">
            <a th:href="@{list}" class="btn btn-primary" th:text="#{edit_user.cancel}">
                Back
            </a>
        </div>
    </div>
</div>
</body>
</html>
