<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>User-List</title>
	<script type="text/javascript" src="../../js/jquery-2.1.1.min.js" th:src="@{/js/jquery-2.1.1.min.js}" ></script>
	<link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
	<link rel="stylesheet" type="text/css" href="../../css/Style.css" th:href="@{/css/Style.css}"/>
</head>
<body>
	<table class="table table-hover">
		<thead><tr>
			<th>
				<input id="user-checkbox" type="checkbox" class="checkbox" />
			</th>
			<th>
				<span th:text="#{msg.user.login}">Login</span>
				<i class="icon-arrow-up"><a id="order-by-login-asc" th:href="@{'' (action='sort', orderBy='userName', asc=true)}">^</a></i> 
				<i class="icon-arrow-down"><a id="order-by-login-desc" th:href="@{'' (action='sort', orderBy='userName', asc=false)}">v</a></i> 
			</th>
			<th>
				<span th:text="#{msg.user.name.given}">Given Name</span>
				<a id="order-by-givenname-asc" th:href="@{'' (action='sort', orderBy='name.givenName', asc=true)}">^</a>
				<a id="order-by-givenname-desc" th:href="@{'' (action='sort', orderBy='name.givenName', asc=false)}">v</a>	
			</th>
			<th>
				<span th:text="#{msg.user.name.family}">Family Name</span>
				<a id="order-by-familyname-asc" th:href="@{'' (action='sort', orderBy='name.familyName', asc=true)}">^</a>
				<a id="order-by-familyname-desc" th:href="@{'' (action='sort', orderBy='name.familyName', asc=false)}">v</a>
			</th>
			<th></th>
		</tr></thead>
		<tbody>
			<!-- Start: Filter-Row -->
			<tr th:object="${sessionData.filterFields}">
				<form id="filter-form" action="" method="post">
					<!--/* ALL forms with PATCH, POST, PUT, and DELETE methods must include a CSRF-Token! */-->
					<th:block th:replace="makros :: csrf" />

					<!--/* All osiam-query relevant fields must begin with "query."!  */-->
					<td><input type="hidden" name="action" value="filter"/></td>
					<td><input id="filter-login" name="query.userName" type="text" th:value="*{get('query.userName')}" /></td>
					<td><input id="filter-givenname" name="query.name.givenName" type="text" th:value="*{get('query.name.givenName')}" /></td>
					<td><input id="filter-familyname" name="query.name.familyName" type="text" th:value="*{get('query.name.familyName')}" /></td>
					<td>
						<button id="filter-button" th:text="#{msg.button.filter}" class="btn btn-primary" type="submit">Filter</button>
					</td>
				</form>
			</tr>
			<!-- End: Filter-Row -->
			<tr th:each="user : ${userlist.resources}">
				<td>
					<input th:id="${'user-checkbox-' + userStat.index}" type="checkbox" class="checkbox" />
				</td>
 				<td th:text="${user.userName}">Login</td>
 				<td th:text="${user.name} != null ? ${user.name.givenName} : '-'">Given Name</td>
				<td th:text="${user.name} != null ? ${user.name.familyName} : '-'">Family Name</td>
				<td>
				<!-- Start: Action-Menu	-->
					<nav>
    					<ul>
        	        		<li class = "action">
            	        		<label id="action-label">Aktionen ></label>
                	    		<ul>
                    	    		<li>
                    	    			<a th:href="@{edit(id = ${user.id})}">
                                        	<button th:id="${'action-button-edit-' + userStat.index}" th:text="#{edit_user.title}" class="btn btn-default">Edit</button>
                                        </a>
									</li>
                    			</ul>
                			</li>
	                	</ul>
    	            </nav>
				<!-- End: Action-Menu -->
			</td>
			</tr>
		</tbody>
	</table>
	<span th:text="#{msg.list.result(${#lists.size(userlist.resources)}, ${userlist.startIndex} - 1 + ${#lists.size(userlist.resources)}, ${userlist.totalResults})}">Result x - y of total</span>
	<div>
		<div th:replace="makros :: pagingControlls(${paging}, 2, '')">
			Paging-Navigation...
		</div>
		<span th:text="#{msg.list.limit}"></span>
		<form name="form-limit" action="">
			<input type="hidden" name="action" value="limit" />
			<select id="paging-limit" name="limit" class="form-control" onchange="document['form-limit'].submit();">
				<option th:selected="${sessionData.limit} == 5" >5</option>
				<option th:selected="${sessionData.limit} == 10">10</option>
				<option th:selected="${sessionData.limit} == 20">20</option>
				<option th:selected="${sessionData.limit} == 50">50</option>
				<option th:selected="${sessionData.limit} == 100">100</option>
				<option th:selected="${sessionData.limit} == 0" th:text="#{msg.list.limit.all}" value="0">All</option>
			</select>
		</form>
	</div>
</body>
</html>
