<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <h1>Error Page</h1>
        <p>Application has encountered an error. Please contact support on ...</p>
        <label for="url">Failed URL:</label><span id="url" th:text="${request.requestURL}">URL</span>
        <br />
        <label for="exception-message">Exception:</label><span id="exception-message" th:text="${exception.message}"></span>
        <br />
    <pre th:text="${stacktrace}"></pre>
    </body>
</html>
