<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:fragment="includes">
	<!-- For IE9 and higher and other browser -->
	<!--[if (gt IE 8) | (!IE)]><!-->
		<script type="text/javascript" src="../../js/jquery-2.1.1.min.js" th:src="@{/js/jquery-2.1.1.min.js}" ></script>
	<!--<![endif]-->

	<!-- For IE8 and lower -->
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script type="text/javascript" src="../../js/html5shiv.min.js" th:src="@{/js/html5shiv.min.js}"></script>
		<script type="text/javascript" src="../../js/respond.min.js" th:src="@{/js/respond.min.js}"></script>
		<script type="text/javascript" src="../../js/jquery-1.11.1.min.js" th:src="@{/js/jquery-1.11.1.min.js}"></script>
	<![endif]-->

	<script type="text/javascript" src="../../js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}" ></script>
	<script type="text/javascript" src="../../js/general.js" th:src="@{/js/general.js}" ></script>

	<link rel="stylesheet" type="text/css" href="../../css/bootstrap.css" th:href="@{/css/bootstrap.css}"/>
	<link rel="stylesheet" type="text/css" href="../../css/Style.css" th:href="@{/css/Style.css}"/>
</html>
