<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
    	<!--/* 
    		Generate a paging-widget like this:  << < 1 2 3 4 [5] 6 7 8 9 10 > >> 
    		The parameter pagingLinks contains all links for pagination.
    		MaxNumber specify the number of pages which should shown after and before the current page.
    		For example: If you use a MaxNumber = 2 then you get the following paging result:
    		<< < 1 2 [3] 4 5 > >> 
    	*/-->
		<ul class="pagination" th:fragment="pagingControlls(pagingLinks, maxNumber, idPrefix)" 
			th:with="
				isLastPage=${pagingLinks.getLastLink().equals(pagingLinks.getCurLink())},
				isFirstPage=${pagingLinks.getFirstLink().equals(pagingLinks.getCurLink())},
				curLinkIndex=${pagingLinks.getLinks().indexOf(pagingLinks.getCurLink())},
				isFirstPart=${(curLinkIndex + 1) le maxNumber},
				isLastPart=${(curLinkIndex + maxNumber + 1) gt pagingLinks.getLinks().size()},
				curIndex=0" >
				
			<!--/* First-Link */-->
			<li th:if="${not isFirstPage}">
				<a th:id="${idPrefix + 'paging-first'}" th:href="${pagingLinks.firstLink}">&lt;&lt;</a>
			</li>
			<li th:unless="${not isFirstPage}" class="disabled">
				<a th:id="${idPrefix + 'paging-first'}" href="#">&lt;&lt;</a>
			</li>
			
			<!--/* Previous-Link */-->
			<li th:if="${pagingLinks.prevLink != null}">
				<a th:id="${idPrefix + 'paging-prev'}" th:href="${pagingLinks.prevLink}">&lt;</a>
			</li>
			<li th:unless="${pagingLinks.prevLink != null}" class="disabled">
				<a th:id="${idPrefix + 'paging-prev'}" href="#">&lt;</a>
			</li>
			
			<!--/* Number-Links */-->
			
			<th:block th:if="${not isFirstPart and not isLastPart}">
				<li th:each="i : ${#numbers.sequence(maxNumber, 1)}" th:with="curIndex=${curLinkIndex - i}">
					<a th:id="${idPrefix + 'paging-' + curIndex}" th:href="${pagingLinks.getLinks().get(curIndex)}" th:text="${curIndex + 1}">1</a>
				</li>
				<li class="active"><a th:id="${idPrefix + 'paging-' + curIndex}" href="#" th:text="${curLinkIndex + 1}">2</a></li>
				<li th:each="i : ${#numbers.sequence(0, maxNumber - 1)}" th:with="curIndex=${curLinkIndex + i + 1}">
					<a th:id="${idPrefix + 'paging-' + curIndex}" th:href="${pagingLinks.getLinks().get(curIndex)}" th:text="${curIndex + 1}">3</a>
				</li>
			</th:block>
			<th:block th:unless="${not isFirstPart and not isLastPart}">
				<th:block th:if="${isFirstPart}">
					<th:block th:each="i : ${#numbers.sequence(0, maxNumber * 2)}" >
						<th:block th:if="${i lt #lists.size(pagingLinks.links)}">
							<li class="active" th:if="${pagingLinks.getCurLink().equals(pagingLinks.getLinks().get(i))}">
								<a th:id="${idPrefix + 'paging-' + i}" href="#" th:text="${i + 1}"></a>
							</li>
							<li th:unless="${pagingLinks.getCurLink().equals(pagingLinks.getLinks().get(i))}">
								<a th:id="${idPrefix + 'paging-' + i}" th:href="${pagingLinks.getLinks().get(i)}" th:text="${i + 1}">1</a>
							</li>
						</th:block>
					</th:block>
				</th:block>
				<th:block th:unless="${isFirstPart}" th:with="indexBegin=${pagingLinks.getLinks().size() - (maxNumber * 2) - 1}">
					
					<th:block th:each="i : ${#numbers.sequence(((indexBegin lt 0) ? 0 : indexBegin), pagingLinks.getLinks().size() - 1)}" >
						<li class="active" th:if="${pagingLinks.getCurLink().equals(pagingLinks.getLinks().get(i))}">
							<a th:id="${idPrefix + 'paging-' + i}" href="#" th:text="${i + 1}"></a>
						</li>
						<li th:unless="${pagingLinks.getCurLink().equals(pagingLinks.getLinks().get(i))}">
							<a th:id="${idPrefix + 'paging-' + i}" th:href="${pagingLinks.getLinks().get(i)}" th:text="${i + 1}">1</a>
						</li>
					</th:block>
				</th:block>
			</th:block>
			
			<!--/* Next-Link */-->
			<li th:if="${pagingLinks.nextLink != null}">
				<a th:id="${idPrefix + 'paging-next'}" th:href="${pagingLinks.nextLink}">&gt;</a>
			</li>
			<li th:unless="${pagingLinks.nextLink != null}" class="disabled">
				<a th:id="${idPrefix + 'paging-next'}" href="#">&gt;</a>
			</li>
			
			<!--/* Last-Link */-->
			<li th:if="${not isLastPage}">
				<a th:id="${idPrefix + 'paging-last'}" th:href="${pagingLinks.lastLink}">&gt;&gt;</a>
			</li>
			<li th:unless="${not isLastPage}" class="disabled">
				<a th:id="${idPrefix + 'paging-last'}" href="#">&gt;&gt;</a>
			</li>
		</ul>
		
		<!--/*
			ALL forms with PATCH, POST, PUT, and DELETE methods must include a CSRF-Token! 
			For more information look at the following page:
			
				http://docs.spring.io/spring-security/site/docs/3.2.0.CI-SNAPSHOT/reference/html/csrf.html
		*/-->
		<input th:fragment="csrf()" type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
	</body>
</html>
