<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:include="head :: includes"></th:block>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>OSIAM administration</title>
</head>

<body>

<th:block th:include="header :: header"></th:block>

<div class="container shadow textCenter" id="content">
    <div th:replace="makros :: topbar"></div>

    <h2 th:text="#{msg.start.welcome}">Welcome to the OSIAM administration!</h2>

    <p th:text="#{msg.start.welcome.description}">Here you can administrate the users and groups of the OSIAM instance you connected to.</p>

    <p class="text-danger" th:text="#{msg.start.error.auth.code}" th:if="${showAuthCodeErrorMessage}">Authentication failed. Please log in again.</p>

    <a id="login-button" th:href="@{${redirectUri}}" class="btn btn-primary" th:unless="${isLoggedIn}" style="margin-top: 10px;">
        <span th:text="#{msg.user.login}">Login</span>
    </a>
</div>

</body>
</html>
